<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %>さんのマイページ</h3>
    
   <p><%= link_to "名前を変える", edit_user_path(@user.id) %></p>
   注意！<%= @user.name %>さんではない場合投稿一覧に戻ります。
  
</div>

<!-- ユーザーの投稿一覧 -->
<h1><%= @user.name %>さんの投稿一覧</h1>
<% @items.each do |item| %>
<div>
  <p>タイトル：<%=link_to item.name, item_path(item.id)%></p>
  <p>説明：<%= item.explanation %></p>
  <p><%= link_to "#{item.comments.count} コメント", item_path(item.id) %></p>
</div>
<% end %>